body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.bg-black {
    background-image: url('/assets/Bg-2.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.text-white {
    color: #fff;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.Judul {
    font-size: 38px;
    margin-bottom: 20px;
    color: #1150e4;
    transition: all 0.3s ease;
    font-weight: bold;
    margin: 40px;
}

.Judul:hover {
    color: #ffffff;
    transform: translateY(-5px); /* Slight upward movement on hover */
}

.profile-picture {
    width: 40%;
    height: auto;
}

.profile-picture img {
    width: 100%;
    height: auto;
    border-radius: 25px;  
}

.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    transition: all 0.3s ease;
    font-weight: bold;
}

.home-button a {
    font-size: 18px;
    color: #fff;
    background-color: rgb(0, 94, 245);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.home-button a:hover {
    background-color: rgb(144, 201, 255); /* Darker color on hover */
    box-shadow: 5px 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow size on hover */
}

.sosmed-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sosmed-container a {
    margin: 0 10px;
}

.sosmed-container img {
    border-radius: 50%;
}